{% extends 'base.html' %}

{% block body %}

<nav class="navbar bg-body-tertiary primary-color">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 text-white">Newton - Notificador</span>
    </div>
</nav>

<div class="container mt-5">
    <ol class="list-group">
        {% for notificacao in notificacoes %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <!-- <input class="form-check-input me-1" type="checkbox" value="{{ notificacao.pk }}" id="notificacao-{{ notificacao.pk }}"> -->
            <div class="ms-2 me-auto">
                <div class="fw-bold">
                    <a href="{% url 'apresentar' notificacao.pk %}" style="text-decoration: dashed;">{{ notificacao.pk }} - {{ notificacao.assunto }}</a>
                </div>
                {{ notificacao.sistema }} -> {{ notificacao.destinatarios }}
            </div>
            {% for status in notificacao.status.all %}
            <span 
                class="badge text-white primary-color rounded-pill mx-1" 
                data-bs-toggle="tooltip" 
                data-bs-placement="left" 
                data-bs-title="> {{ status.detalhes.first.mensagem|safe }}"
            >
                {{ status.get_status_display }}
            </span>
            {% endfor %}
        </li>
        {% empty %}
        <span>Nenhuma notificação registrada</span>
        {% endfor %}
      </ol>
</div>

{% endblock body %}
